.container {
	background-image: url(pictures/img_6556blur);
	text-align: center;
	margin: cover;
}
.jumbotron {
	min-height: 600px;
	background-image: url("pictures/img_6556blur.jpg");
	background-size: cover;
	background-attachment: fixed;
}
